<!DOCTYPE html>
<html>
 <head>
 <title>Editar Estudiante</title>
</head>
 <body>
 <div class="container">
 <h3><a href="/estudiantes">Lista de Estudiantes</a></h3>
 <h1>Editar Estudiante</h1>
 <form action="/estudiantes/update/{{ estudiante._id }}"
method="post">
 <table>
 <tbody>
 <tr>
 <td>Codigo</td>
<td><input type="text" name="codigo"
value="{{ estudiante.codigo }}" /></td>
 </tr>
 <tr>
 <td>Nombre</td>
<td><input type="text" name="nombre"
value="{{ estudiante.nombre }}" /></td>
 </tr>
 <tr>
 <td>Apellidos</td>
<td><input type="text" name="apellidos"
value="{{ estudiante.apellidos }}" /></td>
 </tr>
<tr>
 <td>Email</td>
<td><input type="text" name="mail"
value="{{ estudiante.mail }}" /></td>
 </tr>
<tr>
 <td>Celular</td>
 <td><input type="text" name="celular"
value="{{ estudiante.celular }}" /></td>
 </tr>
<tr>
 <td>Carrera</td>
 <td><input type="text" name="carrera"
value="{{ estudiante.carrera }}" /></td>
 </tr>
<tr>

<tr>
 <td colspan="2"><button
type="submit">Update</button></td>
 </tr>
 </tbody>
 </table>
 </form>
 </div>
 </body>
</html>
